[include]
	path = ~/.gitidentity
[core]
	editor = vim
	excludesfile = ~/.gitignore
[merge]
	renamelimit = 65535
	ff = only
[pull]
	ff = only

[rerere]
	enabled = true
[http]
	cookiefile = ~/.gitcookies
[alias]
	# From https://stackoverflow.com/a/5188364
	list-branches = for-each-ref --sort=committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
[am]
	threeWay = true
[sendemail.linux]
	tocmd ="`pwd`/scripts/get_maintainer.pl --nogit --nogit-fallback --norolestats --nol"
	cccmd ="`pwd`/scripts/get_maintainer.pl --nogit --nogit-fallback --norolestats --nom"
