{ config, pkgs, ... }:

let hostname="ipos";
in
{
  networking.hostName = hostname;
  imports =
    [ # Include the results of the hardware scan.
      /etc/nixos/hardware-configuration.nix
      (/home/a/dotfiles/nixos + "/hosts/${hostname}.nix")
      /home/a/dotfiles/nixos/base.nix
      /home/a/dotfiles/nixos/users.nix
    ];
}
